%h1 hello
= link_to "Privacy Policy", static_pages_privacy_policy_path
%button.btn.btn-primary{:type => "button"} Primary
%i.fas.fa-adjust

= link_to courses_path, class: 'btn btn-success' do
  .fa.fa-book
  Course
